---
import '../style.css';
import { Image } from 'astro:assets';
import MyPhoto from '../assets/photo.webp';
import Layout from '../components/Layout.astro';
---

<Layout title="CV">
  <header>
    <div
      class="mb-2 flex items-center text-primary text-xs tracking-tight font-medium"
      id="contacts"
    >
      <a class="p-[10px] inline-flex items-center gap-1" href="mailto:jordigd8@gmail.com">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"
          ></path>
        </svg>
        jordigd8@gmail.com
      </a>

      <a class="p-[10px] inline-flex items-center gap-1" href="tel:+34605188741">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M20 15.5c-1.2 0-2.5-.2-3.6-.6h-.3c-.3 0-.5.1-.7.3l-2.2 2.2c-2.8-1.5-5.2-3.8-6.6-6.6l2.2-2.2c.3-.3.4-.7.2-1c-.3-1.1-.5-2.4-.5-3.6c0-.5-.5-1-1-1H4c-.5 0-1 .5-1 1c0 9.4 7.6 17 17 17c.5 0 1-.5 1-1v-3.5c0-.5-.5-1-1-1M5 5h1.5c.1.9.3 1.8.5 2.6L5.8 8.8C5.4 7.6 5.1 6.3 5 5m14 14c-1.3-.1-2.6-.4-3.8-.8l1.2-1.2c.8.2 1.7.4 2.6.4z"
          ></path>
        </svg>
        (34) 605 18 87 41
      </a>

      <a class="p-[10px] inline-flex items-center gap-1" href="https://www.jordigomez.dev/">
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 14 14">
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <path d="M7 13.5a6.5 6.5 0 1 0 0-13a6.5 6.5 0 0 0 0 13M.5 7h13"></path>
            <path
              d="M9.5 7A11.22 11.22 0 0 1 7 13.5A11.22 11.22 0 0 1 4.5 7A11.22 11.22 0 0 1 7 .5A11.22 11.22 0 0 1 9.5 7"
            ></path>
          </g>
        </svg>
        jordigomez.dev
      </a>

      <a class="p-[10px] inline-flex items-center gap-1" href="https://github.com/jordigd20/">
        <svg
          role="img"
          viewBox="0 0 24 24"
          width="14"
          height="14"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>GitHub</title>
          <path
            fill="currentColor"
            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
          ></path>
        </svg>
        jordigd20
      </a>

      <a
        class="p-[10px] inline-flex items-center gap-1"
        href="https://www.linkedin.com/in/jordi-gomez-devesa/"
      >
        <svg
          role="img"
          viewBox="0 0 24 24"
          width="12"
          height="12"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>LinkedIn</title>
          <path
            fill="currentColor"
            d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
          ></path>
        </svg>
        /in/jordi-gomez-devesa/
      </a>
    </div>

    <div class="flex gap-4">
      <!-- <img
          class="object-cover aspect-square w-36 h-36 rounded-md"
          src={MyPhoto}
          alt="Personal photo"
          width="144"
          height="144"
        /> -->

      <Image
        class="object-cover aspect-square w-36 h-36 rounded-md"
        src={MyPhoto}
        alt="Una foto de Jordi"
        width="144"
        height="144"
      />

      <div>
        <h1 class="font-bold text-4xl" id="name">Jordi Gómez Devesa</h1>
        <h2 class="font-bold text-xl text-primary" id="title">Desarrollador Full Stack</h2>

        <p class="mt-1 text-sm text-gray-800">
          Ingeniero Multimedia graduado en la Universidad de Alicante con experencia en el
          desarrollo de software con proyectos evaluados y aprobados por la Universidad.
        </p>

        <p class="mt-1 inline-flex items-center text-sm text-gray-800">
          <svg
            class="mb-0.5"
            xmlns="http://www.w3.org/2000/svg"
            width="15"
            height="15"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7"
            ></path>
          </svg>
          Benidorm, España
        </p>
      </div>
    </div>
  </header>

  <section class="my-4 space-y-1" id="work">
    <h3 class="font-bold text-xl">Experiencia</h3>

    <div class="space-y-4">
      <article>
        <header class="flex justify-between items-center">
          <h4 class="text-primary">
            <b>Desarrollador Full Stack</b> en
            <a
              class="inline-flex items-center underline font-medium"
              href="https://jordigomez.dev/projects/collabtask"
            >
              CollabTask
              <svg
                class="mb-3"
                xmlns="http://www.w3.org/2000/svg"
                style="color: #1b8370"
                width="12"
                height="12"
                viewBox="0 0 24 24"
              >
                <g fill="none">
                  <path
                    d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                  ></path>
                  <path
                    fill="currentColor"
                    d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"
                  ></path>
                </g>
              </svg>
            </a>
          </h4>

          <p class="text-gray-800 text-sm">2022 - 2023</p>
        </header>

        <div class="space-y-4">
          <div>
            <p class="text-sm text-gray-800">
              Desarrollé para el TFG de Ingeniería Multimedia una app sobre gestión de tareas
              colaborativas, con el objetivo de realizar un reparto de tareas justo y equilibrado
              entre un grupo de personas.
            </p>
          </div>
          <div class="text-sm text-gray-800">
            <b class="font-medium">Funciones desempeñadas</b>:
            <ul class="list-['—'] pl-2">
              <li class="pl-2">Diseño de las interfaces y estilo de la aplicación</li>
              <li class="pl-2">Implementación del frontend utilizando Angular e Ionic</li>
              <li class="pl-2">
                Diseño y desarrollo de la arquitectura backend con Firebase como BaaS
              </li>
            </ul>
          </div>
        </div>
      </article>

      <article>
        <header class="flex justify-between items-center">
          <h4 class="text-primary">
            <b>Desarrollador Full Stack</b> en
            <a
              class="inline-flex items-center underline font-medium"
              href="https://jordigomez.dev/projects/nutrius"
            >
              NutriUs
              <svg
                class="mb-3"
                xmlns="http://www.w3.org/2000/svg"
                style="color: #1b8370"
                width="12"
                height="12"
                viewBox="0 0 24 24"
              >
                <g fill="none">
                  <path
                    d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                  ></path>
                  <path
                    fill="currentColor"
                    d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"
                  ></path>
                </g>
              </svg>
            </a>
          </h4>

          <p class="text-gray-800 text-sm">2021 - 2022</p>
        </header>

        <div class="space-y-4">
          <div>
            <p class="text-sm text-gray-800">
              Junto con un equipo de 5 personas desarrollé para el 4º año de Ingeniería Multimedia
              una aplicación web sobre nutrición infantil que ofrece menús y dietas para los niños,
              un entorno gráfico 3D atractivo para ellos, y una gestión del seguimiento/evolución
              para los padres.
            </p>
          </div>
          <div class="text-sm text-gray-800">
            <b class="font-medium">Funciones desempeñadas</b>:
            <ul class="list-['—'] pl-2">
              <li class="pl-2">Diseño e implementación del frontend con Angular</li>
              <li class="pl-2">Realización de un API Rest con Node.js y MongoDB</li>
              <li class="pl-2">
                Creación e integración en el sistema de un asistente virtual con Dialogflow
              </li>
              <li class="pl-2">Gestión de los pagos con el API de Paypal</li>
              <li class="pl-2">Recopilación de estadísticas según los KPI de la aplicación</li>
              <li class="pl-2">
                Sistema de animaciones, movimientos de cámara e iluminación en un entorno gráfico 3D
                con WebGL
              </li>
            </ul>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section class="my-4 space-y-1">
    <h3 class="font-bold text-xl">Educación</h3>

    <div class="text-sm">
      <div class="flex items-center justify-between">
        <h4 class="font-bold text-primary">Universidad de Alicante (UA)</h4>
        <span class="text-gray-800">2018 - 2023</span>
      </div>
      <p class="text-gray-800">Grado en Ingeniería Multimedia</p>
    </div>
  </section>

  <section class="my-4 space-y-1">
    <h3 class="font-bold text-xl">Idiomas</h3>

    <div class="text-sm">
      <p class="text-gray-800"><b class="text-primary">Español y Valenciano</b>: Nativo</p>

      <p class="text-gray-800">
        <b class="text-primary">Inglés</b>: Nivel intermedio (Certificado B1)
      </p>
    </div>
  </section>

  <section class="my-4 space-y-1">
    <h3 class="font-bold text-xl">Habilidades</h3>

    <div class="gap-1"></div>
    <div class="flex flex-wrap items-center text-sm"></div>
  </section>

  <section class="my-4 space-y-1" id="skills">
    <h3 class="font-bold text-xl">Otros proyectos</h3>

    <div class="grid grid-cols-3 gap-2" id="projects-list">
      <article class="p-3 border rounded-md space-y-2 shadow-sm">
        <a
          class="inline-flex items-center font-bold text-primary underline"
          href="https://jordigomez.dev/"
          target="_blank"
        >
          Portfolio
          <svg
            class="mb-3"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
          >
            <g fill="none">
              <path
                d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
              ></path>
              <path
                fill="currentColor"
                d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"
              ></path>
            </g>
          </svg>
        </a>
        <p class="text-sm text-gray-800">
          Portfolio personal que cuenta con un blog, un apartado de proyectos y una página de
          contacto
        </p>
        <footer class="flex flex-wrap items-center gap-1 text-xs">
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Astro</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Javascript</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">TailwindCSS</span>
        </footer>
      </article>

      <article class="p-3 border rounded-md space-y-2 shadow-sm">
        <a
          class="inline-flex items-center font-bold text-primary underline"
          href="https://bookstore-jgd.vercel.app/"
          target="_blank"
        >
          Bookstore
          <svg
            class="mb-3"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
          >
            <g fill="none">
              <path
                d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
              ></path>
              <path
                fill="currentColor"
                d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"
              ></path>
            </g>
          </svg>
        </a>
        <p class="text-sm text-gray-800">
          E-commerce con todas las funcionalidades básicas de una tienda online
        </p>
        <footer class="flex flex-wrap items-center gap-1 text-xs">
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Angular</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">NestJS</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">PostgreSQL</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">API Rest</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Stripe</span>
        </footer>
      </article>

      <article class="p-3 border rounded-md space-y-2 shadow-sm">
        <a
          class="inline-flex items-center font-bold text-primary underline"
          href="https://weather-app-jordigd.vercel.app/"
          target="_blank"
        >
          Weather App
          <svg
            class="mb-3"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
          >
            <g fill="none">
              <path
                d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
              ></path>
              <path
                fill="currentColor"
                d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"
              ></path>
            </g>
          </svg>
        </a>
        <p class="text-sm text-gray-800">
          Aplicación web de predicción meteorológica que muestra información sobre el pronóstico del
          tiempo
        </p>
        <footer class="flex flex-wrap items-center gap-1 text-xs">
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Side Project</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Angular</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Typescript</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">TailwindCSS</span>
        </footer>
      </article>

      <article class="p-3 border rounded-md space-y-2 shadow-sm">
        <a
          class="inline-flex items-center font-bold text-primary underline"
          href="https://spotify-clone-jgd.vercel.app/"
          target="_blank"
        >
          Spotify Clone
          <svg
            class="mb-3"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
          >
            <g fill="none">
              <path
                d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
              ></path>
              <path
                fill="currentColor"
                d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"
              ></path>
            </g>
          </svg>
        </a>
        <p class="text-sm text-gray-800">
          Aplicación web que simula la interfaz de usuario de Spotify. Cuenta con un buscador y un
          reproductor de canciones
        </p>
        <footer class="flex flex-wrap items-center gap-1 text-xs">
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Side Project</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Angular</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Typescript</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">TailwindCSS</span>
        </footer>
      </article>
    </div>
  </section>
</Layout>
