---
import '../style.css';

import Layout from '../components/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="CV">
  <Header />

  <section class="my-4 space-y-1" id="work">
    <h3 class="font-bold text-xl">Experiencia</h3>

    <div class="space-y-4">
      <article>
        <header class="flex justify-between items-center">
          <h4 class="text-primary">
            <b>Desarrollador Full Stack</b> en
            <a
              class="inline-flex items-center underline font-medium"
              href="https://jordigomez.dev/projects/collabtask"
            >
              CollabTask
              <svg
                class="mb-3"
                xmlns="http://www.w3.org/2000/svg"
                style="color: #1b8370"
                width="12"
                height="12"
                viewBox="0 0 24 24"
              >
                <g fill="none">
                  <path
                    d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                  ></path>
                  <path
                    fill="currentColor"
                    d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"
                  ></path>
                </g>
              </svg>
            </a>
          </h4>

          <p class="text-gray-800 text-sm">2022 - 2023</p>
        </header>

        <div class="space-y-4">
          <div>
            <p class="text-sm text-gray-800">
              Desarrollé para el TFG de Ingeniería Multimedia una app sobre gestión de tareas
              colaborativas, con el objetivo de realizar un reparto de tareas justo y equilibrado
              entre un grupo de personas.
            </p>
          </div>
          <div class="text-sm text-gray-800">
            <b class="font-medium">Funciones desempeñadas</b>:
            <ul class="list-['—'] pl-2">
              <li class="pl-2">Diseño de las interfaces y estilo de la aplicación</li>
              <li class="pl-2">Implementación del frontend utilizando Angular e Ionic</li>
              <li class="pl-2">
                Diseño y desarrollo de la arquitectura backend con Firebase como BaaS
              </li>
            </ul>
          </div>
        </div>
      </article>

      <article>
        <header class="flex justify-between items-center">
          <h4 class="text-primary">
            <b>Desarrollador Full Stack</b> en
            <a
              class="inline-flex items-center underline font-medium"
              href="https://jordigomez.dev/projects/nutrius"
            >
              NutriUs
              <svg
                class="mb-3"
                xmlns="http://www.w3.org/2000/svg"
                style="color: #1b8370"
                width="12"
                height="12"
                viewBox="0 0 24 24"
              >
                <g fill="none">
                  <path
                    d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                  ></path>
                  <path
                    fill="currentColor"
                    d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"
                  ></path>
                </g>
              </svg>
            </a>
          </h4>

          <p class="text-gray-800 text-sm">2021 - 2022</p>
        </header>

        <div class="space-y-4">
          <div>
            <p class="text-sm text-gray-800">
              Junto con un equipo de 5 personas desarrollé para el 4º año de Ingeniería Multimedia
              una aplicación web sobre nutrición infantil que ofrece menús y dietas para los niños,
              un entorno gráfico 3D atractivo para ellos, y una gestión del seguimiento/evolución
              para los padres.
            </p>
          </div>
          <div class="text-sm text-gray-800">
            <b class="font-medium">Funciones desempeñadas</b>:
            <ul class="list-['—'] pl-2">
              <li class="pl-2">Diseño e implementación del frontend con Angular</li>
              <li class="pl-2">Realización de un API Rest con Node.js y MongoDB</li>
              <li class="pl-2">
                Creación e integración en el sistema de un asistente virtual con Dialogflow
              </li>
              <li class="pl-2">Gestión de los pagos con el API de Paypal</li>
              <li class="pl-2">Recopilación de estadísticas según los KPI de la aplicación</li>
              <li class="pl-2">
                Sistema de animaciones, movimientos de cámara e iluminación en un entorno gráfico 3D
                con WebGL
              </li>
            </ul>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section class="my-4 space-y-1">
    <h3 class="font-bold text-xl">Educación</h3>

    <div class="text-sm">
      <div class="flex items-center justify-between">
        <h4 class="font-bold text-primary">Universidad de Alicante (UA)</h4>
        <span class="text-gray-800">2018 - 2023</span>
      </div>
      <p class="text-gray-800">Grado en Ingeniería Multimedia</p>
    </div>
  </section>

  <section class="my-4 space-y-1">
    <h3 class="font-bold text-xl">Idiomas</h3>

    <div class="text-sm">
      <p class="text-gray-800"><b class="text-primary">Español y Valenciano</b>: Nativo</p>

      <p class="text-gray-800">
        <b class="text-primary">Inglés</b>: Nivel intermedio (Certificado B1)
      </p>
    </div>
  </section>

  <section class="my-4 space-y-1">
    <h3 class="font-bold text-xl">Habilidades</h3>

    <div class="gap-1"></div>
    <div class="flex flex-wrap items-center text-sm"></div>
  </section>

  <section class="my-4 space-y-1" id="skills">
    <h3 class="font-bold text-xl">Otros proyectos</h3>

    <div class="grid grid-cols-3 gap-2" id="projects-list">
      <article class="p-3 border rounded-md space-y-2 shadow-sm">
        <a
          class="inline-flex items-center font-bold text-primary underline"
          href="https://jordigomez.dev/"
          target="_blank"
        >
          Portfolio
          <svg
            class="mb-3"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
          >
            <g fill="none">
              <path
                d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
              ></path>
              <path
                fill="currentColor"
                d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"
              ></path>
            </g>
          </svg>
        </a>
        <p class="text-sm text-gray-800">
          Portfolio personal que cuenta con un blog, un apartado de proyectos y una página de
          contacto
        </p>
        <footer class="flex flex-wrap items-center gap-1 text-xs">
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Astro</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Javascript</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">TailwindCSS</span>
        </footer>
      </article>

      <article class="p-3 border rounded-md space-y-2 shadow-sm">
        <a
          class="inline-flex items-center font-bold text-primary underline"
          href="https://bookstore-jgd.vercel.app/"
          target="_blank"
        >
          Bookstore
          <svg
            class="mb-3"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
          >
            <g fill="none">
              <path
                d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
              ></path>
              <path
                fill="currentColor"
                d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"
              ></path>
            </g>
          </svg>
        </a>
        <p class="text-sm text-gray-800">
          E-commerce con todas las funcionalidades básicas de una tienda online
        </p>
        <footer class="flex flex-wrap items-center gap-1 text-xs">
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Angular</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">NestJS</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">PostgreSQL</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">API Rest</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Stripe</span>
        </footer>
      </article>

      <article class="p-3 border rounded-md space-y-2 shadow-sm">
        <a
          class="inline-flex items-center font-bold text-primary underline"
          href="https://weather-app-jordigd.vercel.app/"
          target="_blank"
        >
          Weather App
          <svg
            class="mb-3"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
          >
            <g fill="none">
              <path
                d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
              ></path>
              <path
                fill="currentColor"
                d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"
              ></path>
            </g>
          </svg>
        </a>
        <p class="text-sm text-gray-800">
          Aplicación web de predicción meteorológica que muestra información sobre el pronóstico del
          tiempo
        </p>
        <footer class="flex flex-wrap items-center gap-1 text-xs">
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Side Project</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Angular</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Typescript</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">TailwindCSS</span>
        </footer>
      </article>

      <article class="p-3 border rounded-md space-y-2 shadow-sm">
        <a
          class="inline-flex items-center font-bold text-primary underline"
          href="https://spotify-clone-jgd.vercel.app/"
          target="_blank"
        >
          Spotify Clone
          <svg
            class="mb-3"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
          >
            <g fill="none">
              <path
                d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
              ></path>
              <path
                fill="currentColor"
                d="M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z"
              ></path>
            </g>
          </svg>
        </a>
        <p class="text-sm text-gray-800">
          Aplicación web que simula la interfaz de usuario de Spotify. Cuenta con un buscador y un
          reproductor de canciones
        </p>
        <footer class="flex flex-wrap items-center gap-1 text-xs">
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Side Project</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Angular</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">Typescript</span>
          <span class="py-0.5 px-3 bg-gray-100 rounded-md">TailwindCSS</span>
        </footer>
      </article>
    </div>
  </section>
</Layout>
